/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/rubik-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/rubik-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/rubik-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/rubik-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/fonts/rubik-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/rubik-v14-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/rubik-v14-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/fonts/rubik-v14-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/rubik-v14-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/rubik-v14-latin-500.woff') format('woff'), /* Modern Browsers */
         url('/fonts/rubik-v14-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/fonts/rubik-v14-latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
}

:root {
    --sendeplan-font-primary: 'Rubik', Arial, Helvetica, sans-serif;

    --sendeplan-color-text: #a8afbd;
    --sendeplan-color-text-highlight: #fff;

    --sendeplan-grey-500: #525f7a;
    --sendeplan-grey-700: #34373e;
    --sendeplan-gray-900: #0e1118;
    --sendeplan-blue: #2770a0;
    --sendeplan-yelow: #f7b731;
    --sendeplan-white: #fff;

    --sendeplan-color-gradient: linear-gradient(to right,#2770a0 10%,#ff2e89,#c20020,#ffb405);

    --sendeplan-border-radius: 5px;
}

body{
    width: 388px;
    max-height: 471px;
    background: var(--sendeplan-gray-900);
    margin: 0;
    position: relative;
    font-family: var(--sendeplan-font-primary);
    color: var(--sendeplan-color-text);
}

a{ text-decoration: none; }

.flex-row{ 
    display: flex;
    flex-direction: row;
}

.flex-col{ 
    display: flex;
    flex-direction: column;
}

.topbar{
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background: var(--sendeplan-gray-900);
    z-index: 2;
    align-items: center;
    color: var(--sendeplan-color-text);
    font-weight: 500;
}

.topbar span{ flex: 1; }

.topbar img{
    width: 25px;
    padding: 7px;
}

.tabs {
    margin-right: 5px;
}

.tabs ul {
    list-style: none;
}

.tabs li {
    padding: 5px 10px;
    margin: 2px;
    border-radius: var(--sendeplan-border-radius);
    cursor: pointer;
}

.tabs li:not(.active):hover {
    background: var(--sendeplan-grey-500);
    color: var(--sendeplan-color-text-highlight);
}

.page{
    width: 388px;
}

.content{
    height: 500px;
    color: var(--sendeplan-white);
    margin-top: 40px;
    overflow: auto;
    width: 349px;
}

.no-content {
    color: var(--sendeplan-color-text);
    font-weight: 500;
    text-align: center;
}

.new-day {
    font-weight: 500;
    color: var(--sendeplan-color-text);
    margin-left: 5px;
    margin-bottom: -4px;
}

.new-day::after {
    content: "";
    position: relative;
    pointer-events: none;
    height: 3px;
    width: 98%;
    margin: 3px 0 10px 0;
    background: var(--sendeplan-color-gradient);
}

.new-day:not(:first-of-type) {
    margin-top: 40px;
}

#openOption{
    cursor: pointer;
    background: transparent;
    border: 0;
    position: absolute;
    bottom: -60px;
    left: 11px;
}

#openOption img {
    width: 16px;
}

.box{
    margin: 4px 5px;
    padding: 55px 10px 10px 10px;
    border-radius: var(--sendeplan-border-radius);
    font-size: 12px;
    min-height: 84px;
    background: #232a39;
    position: relative;
    color: var(--sendeplan-color-text);
}

.title{
    font-size: 14px;
    font-weight: 500;
    color: var(--sendeplan-white);
    line-height: 20px;
}

.time{
    line-height: 16px;
}

::-webkit-scrollbar {
    width: 0;
}

.dot{
    float: left;
    height: 10px;
    width: 10px;
    border-radius:  50%;
    margin: 3px;
}

.dauer{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    font-weight: 500;
    color: var(--sendeplan-yelow);
}

.onair{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background: var(--sendeplan-yelow);
    border-radius: 0 0 5px 5px;
}

.show-image{
    position: absolute;
    height: 45px;
    width: 335px;
    top: 2px;
    left: 2px;
    border-radius: 5px 5px 0 0;
    background-position: center;
    background-size: cover;
}

#ref-link{
    bottom: 0;
    width: 100%;
    height: 30px;
    background: var(--sendeplan-gray-900); 
    text-align: right;
}

#ref-link a {
    color: var(--sendeplan-yelow);
    font-weight: 500;
}

#ref-link span{
    position: relative;
    top: -11px;
}

#ref-link img{
    height: 20px;
    padding: 5px;
}

#ref-link > div{
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.external-link img{
    height: 14px;
}

.external-link{
    display: flex;
    position: absolute;
    top: 55px;
    right: 5px;
    color: #fff;
    padding: 4px;
    border-radius: var(--sendeplan-border-radius);
}

#streams{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39px;
    height: 100%;
    margin-top: 40px;
}

#streams > span{
    position: relative;
}

#streams a{
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 5px;
    background-size: contain;
}

#streams span > span{
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 30px;
    background: var(--sendeplan-white);
    padding: 10px;
    width: 250px;
    border-radius: var(--sendeplan-border-radius);
    z-index: 99;
    transition: all 0.2s linear;
}

#streams span > span > img {
    position: absolute;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 5px;
}

#streams span > span > p {
    margin-top: 0;
}

#streams span > span > p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

#streams span > span > p:nth-child(2),
#streams span > span > p:nth-child(3) {
    position: relative;
    left: 45px;
}

#streams a:hover + span{
    opacity: 1;
    left: 40px;
}

.live{background: #fc5c65;}
.premiere{background: #45aaf2;}
.rerun{background: #333;}
.twitch{background: #9146ff;}
.rbtv{background: var(--sendeplan-grey-500);}
.active{
    background: var(--sendeplan-blue);
    color: var(--sendeplan-color-text-highlight);
}

.hidden {display: none;}

/*  */
/*  Option CSS */
.container-option {
    margin: 20px 50px;
}

.container-value label {
    flex: 0 0 100%;
    align-self: center;
    font-weight: 500;
}

.container-value label > span {
    font-size: 10px;
}

.container-value input {
    width: 40px;
    text-align: center;
    border-radius: var(--sendeplan-border-radius);
    border: 0;
    background: var(--sendeplan-grey-700);
    color: var(--sendeplan-color-text);
}

.container-save{
    margin-top: 15px;
}

.container-save span{
    height: 20px;
    text-align: left;
}

.status {
    color: var(--sendeplan-yelow);
}

.save {
    padding: 5px 10px;
    margin: 2px;
    border-radius: var(--sendeplan-border-radius);
    border: 0;
    background: var(--sendeplan-blue);
    color: var(--sendeplan-color-text-highlight);
    cursor: pointer;
    width: fit-content;
}

