body{
    width: 388px;
    max-height: 471px;
    background: #000;
    margin: 0;
    position: relative;
}

a{
    text-decoration: none;
    color: #f7b731;
}

.topbar{
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background: #000;
    z-index: 2;
    display: flex;
    align-items: center;
    color: #fff;
}

.topbar span{
    flex: 1;
}

.topbar img{
    width: 25px;
    padding: 7px;
}

.tabs {
    display: flex;
    margin-right: 5px;
}

.tab {
    padding: 5px 10px;
    margin: 2px;
    background: #333;
    border-radius: 6px;
    cursor: pointer;
}

.page{
    display: flex;
    width: 388px;
}

.content{
    height: 471px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    overflow: auto;
    width: 349px;
}

.box{
    margin: 4px 5px;
    padding: 55px 10px 10px 10px;
    border-radius: 5px;
    font-size: 12px;
    min-height: 84px;
    background: #333;
    position: relative;
    color: #999;
}

.title{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 20px;
}

.time{
    line-height: 16px;
}

::-webkit-scrollbar {
    width: 0;
}

.dot{
    float: left;
    height: 10px;
    width: 10px;
    border-radius:  50%;
    margin: 3px;
}

.dauer{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    font-weight: 500;
    color: #f7b731;
}

.onair{
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background: #f7b731;
    border-radius: 0 0 5px 5px;
}

.show-image{
    position: absolute;
    height: 45px;
    width: 335px;
    top: 2px;
    left: 2px;
    border-radius: 5px 5px 0 0;
    background-position: center;
    background-size: cover;
}

#ref-link{
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #000;
    color: #f7b731;
    text-align: right;
}

#ref-link span{
    position: relative;
    top: -11px;
}

#ref-link img{
    height: 20px;
    padding: 5px;
}

#ref-link > div{
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.thx{
    opacity: 0;
    color: red;
    position: relative;
    top: -50px;
    right: 20px;
}

.thx img{
    height: 50px;
}

.isClicked{
    opacity: 1;
    top: -100px;
    transition: all 1s ease-in-out;
}

.vod-twitch img{
    height: 15px;
    position: relative;
    top: 2px;
    right: 5px;
}

.vod-yt img{
    height: 15px;
    position: relative;
    top: 2px;
    right: 5px;
}

.vod-twitch, .vod-yt{
    display: flex;
    position: absolute;
    top: 55px;
    right: 10px;
    color: #fff;
    background: #222;
    padding: 5px 15px;
    border-radius: 5px;
}

#streams{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 39px;
    height: 100%;
    background: #000;
    margin-top: 40px;
}

#streams a{
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #fff;
    margin: 5px;
    background-size: contain;
}

.live{background: #fc5c65;}
.premiere{background: #45aaf2;}
.rerun{background: #333;}
.twitch{background: #9146ff;}
.active{background: #e60007;}

.hidden {display: none;}